<div class="app-page">

    <div class="app-page__header">
        <!-- <h1>Welcome!</h1> -->
    </div>

    <div class="app-page__content">

        <h1>Bem vindo á pagina da consultoria de trabalho</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eius tenetur fugiat commodi nam quo voluptate, repellendus sint amet culpa quod quasi asperiores nostrum repudiandae dolorem possimus sit ipsam sunt.
        Modi temporibus eius neque atque suscipit labore nihil aliquam quisquam placeat voluptatem, molestiae mollitia sequi reiciendis repudiandae nesciunt. Dolor sit numquam veritatis libero, quod doloremque magni dignissimos accusantium blanditiis illo.
        Esse animi, ratione eligendi accusantium enim incidunt perspiciatis qui ea consectetur velit molestiae et sunt dolores vel, non ipsam illo odio repellendus aperiam earum. Numquam iusto nostrum placeat odit odio?</p>
    </div>

</div>